<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <h3>{{model.art.title}}</h3>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <div class="creation">
            <img ng-src="{{model.art.imageSource}}" alt="Picture of an artwork called {{model.art.title}}">
        </div>
        <p>Created by {{model.art.user.username}}</p>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <button ng-click="model.goToArts()" class="btn -sm"><span class="glyphicon glyphicon-arrow-left"></span></button>
        <button ng-link="['Create', {id: model.art.squareSetId, state: model.art.state}]" class="btn -sm"><span class="glyphicon glyphicon-picture"></span></button>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <add-review ng-if="model.user && !model.hasUserReviewed() && !model.isMadeByUser()" min="0" max="5" on-review-added="model.addReview(review)"></add-review>
    </div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div ng-if="model.art.reviews.length">
            <h3>Reviews</h3>
            <review ng-repeat="review in model.art.reviews" review="review" max="5"></review>
        </div>
    </div>
</div>