<h3>This is the details of art {{model.art.title}}</h3>
<small>Created by {{model.art.user.username}}</small>
<img ng-src="{{model.art.imageSource}}" alt="Picture of an artwork called {{model.art.title}}">

<a ng-if="model.art.state" ng-link="['Create', {id: model.art.squareSetId, state: model.art.state}]" class="btn btn-default">
    <span class="glyphicon glyphicon-picture"></span>
</a>

<add-review ng-if="model.user && !model.hasUserReviewed() && !model.isMadeByUser()" min="0" max="5" on-review-added="model.addReview(review)"></add-review>

<div ng-repeat="review in model.art.reviews">
    <review review="review" max="5"></review>
</div>

<a ng-click="model.goToArts()" class="btn btn-default">
    <span class="glyphicon glyphicon-arrow-left"></span>
</a>

<ul>
    <li><a ng-link="['Overview']">Overview</a></li>
    <li><a ng-link="['Reviews']">Reviews</a></li>
</ul>

<ng-outlet></ng-outlet>