body {
  padding-top: 100px; }

.about-container {
  position: relative; }

.about-title {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
  .about-title h1 {
    margin: 0 5rem 0 0;
    top: 50%;
    right: 0;
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .about-info {
    float: right; } }

/* font-size 1em = 10px on default browser settings */
body {
  font: 62.5% 'Open Sans', Helvetica, Arial, sans-serif;
  color: #666; }

h1 {
  margin: 10rem 0;
  text-align: center;
  font-size: 2.4rem; }
  h1 .-squared {
    border: 2px solid #666;
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center; }

h2 {
  font-size: 1.5rem;
  margin: 2.4rem 0 0.8rem; }

h3 {
  font-size: 1.2rem;
  margin: 2.4rem 0 0.8rem; }

a, label, p {
  font-size: 0.7rem;
  line-height: 1.2rem; }

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 5rem; }
    h1 .-squared {
      width: 250px;
      height: 250px;
      line-height: 250px; }
  h2 {
    font-size: 4rem; }
  h3 {
    font-size: 3rem; }
  a, .btn, label, p {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 0.2rem; } }

/* Large devices (large desktops, 1200px and up) */
.btn {
  border: 2px solid #666;
  font-weight: 500;
  border-radius: 0;
  width: 7.5vh;
  height: 7.5vh;
  max-height: 7.5vw;
  max-width: 7.5vw;
  white-space: pre-wrap;
  position: relative; }
  .btn.-sm {
    width: 5vh;
    height: 5vh;
    max-height: 5vw;
    max-width: 5vw; }
  .btn.-md {
    width: 12.5vh;
    height: 12.5vh;
    max-height: 12.5vw;
    max-width: 12.5vw; }
  .btn.-lg {
    width: 17.5vh;
    height: 17.5vh;
    max-height: 17.5vw;
    max-width: 17.5vw; }
  .btn.-dead-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

span.glyphicon {
  font-size: 1.8em;
  color: #666; }
  span.glyphicon.glyphicon-star, span.glyphicon.glyphicon-star-empty {
    font-size: 2.8em; }

.form-control {
  border-radius: 0; }

.navbar {
  height: 80px;
  box-shadow: 0 0 15px -5px #aaa; }

.navbar-header {
  height: 80px;
  background-color: #f1f1f1; }

.navbar-brand {
  line-height: 80px;
  height: 80px;
  padding: 0 15px;
  font-size: 2.2rem; }

.navbar-logo {
  float: left;
  height: 60px;
  width: 60px;
  border: 2px solid #666;
  display: block;
  margin-top: 10px;
  margin-right: 10px; }

.navbar-nav {
  background-color: #f1f1f1;
  margin: 0 -15px; }

.navbar-toggle {
  margin-top: 23px; }

.navbar-nav > li > a {
  padding: 0 15px;
  line-height: 80px;
  font-size: 1.3rem; }

.navbar-collapse.in {
  overflow-y: visible; }

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 0; }

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 0 20px;
    line-height: 80px; }
  .navbar-brand {
    font-size: 2.3rem; } }

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .navbar-nav > li > a {
    font-size: 1.6rem; }
  .navbar-brand {
    font-size: 2.5rem; } }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .navbar-nav > li > a {
    font-size: 1.8rem; }
  .navbar-brand {
    font-size: 3.5rem; } }

.design-board-container {
  position: relative; }

.design-board-helpers {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

design-board {
  margin: 4rem 0;
  display: block;
  text-align: center; }

.design-board {
  display: inline-block;
  height: 280px;
  width: 280px;
  box-sizing: content-box;
  border: 2px solid #666; }

.square {
  height: 56px;
  width: 56px;
  background-color: #29e;
  color: #fff;
  float: left; }

.design-board-piece {
  height: 56px;
  width: 56px;
  float: left;
  border: dashed 4px transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.design-board-squares {
  margin-top: 5rem;
  height: 280px;
  width: 280px;
  display: inline-block;
  box-sizing: content-box;
  border: 2px solid #666; }

.square-set-piece {
  width: 56px;
  height: 56px;
  float: left; }

.drop-active {
  border-color: #aaa; }

.drop-target {
  background-color: #666;
  border-color: #fff; }

.drag-drop {
  display: inline-block;
  color: #fff;
  background-color: #666;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.social-media-url {
  overflow: auto;
  margin: 2rem 0; }

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .design-board {
    height: 500px;
    width: 500px; }
  .square {
    height: 100px;
    width: 100px; }
  .design-board-piece {
    height: 100px;
    width: 100px; }
  .design-board-squares {
    height: 500px;
    width: 500px; }
  .square-set-piece {
    width: 100px;
    height: 100px; } }

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .design-board-squares {
    margin-top: 0; } }

/* Large devices (large desktops, 1200px and up) */
.creation-container {
  height: 280px;
  position: relative;
  text-align: center;
  margin: 5rem 0; }

.creation {
  height: 280px;
  width: 280px;
  border: 2px solid #666;
  display: inline-block;
  box-sizing: content-box; }

.creation-piece {
  width: 56px;
  height: 56px;
  float: left; }

.creation-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .creation-info button {
    float: left; }

.creation-review {
  background-color: white;
  text-align: center; }

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .creation-container {
    height: 500px; }
  .creation {
    height: 500px;
    width: 500px; }
  .creation-piece {
    width: 100px;
    height: 100px; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
rating {
  display: inline-block; }

review {
  display: block;
  margin-bottom: 2rem; }
