/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  font: inherit; }

/* font-size 1em = 10px on default browser settings */
body {
  font: 62.5% 'Open Sans', Helvetica, Arial, sans-serif; }

h1 {
  margin: 10rem 0;
  text-align: center;
  font-size: 2.4rem; }
  h1 .-squared {
    border: 3px solid #000;
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center; }

h2 {
  font-size: 1.5rem;
  margin: 2.4rem 0 0.8rem; }

h3 {
  font-size: 1.2rem;
  margin: 2.4rem 0 0.8rem; }

a, p {
  font-size: 0.7rem;
  line-height: 1.2rem; }

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 3rem; }
    h1 .-squared {
      border: 4px solid #000;
      display: inline-block;
      width: 250px;
      height: 250px;
      line-height: 250px;
      text-align: center; }
  h2 {
    font-size: 2.2rem; }
  h3 {
    font-size: 1.8rem; }
  a, p {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 0.2rem; } }

/* Large devices (large desktops, 1200px and up) */
.btn {
  border: 3px solid #000;
  font-weight: 500;
  border-radius: 0;
  width: 17.5vh;
  height: 17.5vh;
  max-height: 17.5vw;
  max-width: 17.5vw;
  white-space: pre-wrap; }
  .btn.-small {
    width: 10vh;
    height: 10vh;
    max-height: 10vw;
    max-width: 10vw; }

design-board {
  display: block; }

.design-board {
  height: 500px;
  width: 500px;
  box-sizing: content-box; }

.square {
  height: 100px;
  width: 100px;
  background-color: #29e;
  color: #fff;
  border-radius: 4px;
  float: left; }

.design-board-piece {
  height: 100px;
  width: 100px;
  float: left;
  border: dashed 4px transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.design-board-squares {
  clear: both;
  margin-top: 5rem;
  height: 200px;
  width: 500px; }

.drop-active {
  border-color: #aaa; }

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid; }

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4; }

art-piece img {
  border: 1px solid #000; }

.square-set-piece {
  width: 100px;
  height: 100px; }
