body {
  padding-top: 70px; }

/* font-size 1em = 10px on default browser settings */
body {
  font: 62.5% 'Open Sans', Helvetica, Arial, sans-serif;
  color: #666; }

h1 {
  margin: 10rem 0;
  text-align: center;
  font-size: 2.4rem; }
  h1 .-squared {
    border: 2px solid #666;
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center; }

h2 {
  font-size: 1.5rem;
  margin: 2.4rem 0 0.8rem; }

h3 {
  font-size: 1.2rem;
  margin: 2.4rem 0 0.8rem; }

a, label, p {
  font-size: 0.7rem;
  line-height: 1.2rem; }

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 5rem; }
    h1 .-squared {
      width: 250px;
      height: 250px;
      line-height: 250px; }
  h2 {
    font-size: 4rem; }
  h3 {
    font-size: 3rem; }
  a, .btn, label, p {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 0.2rem; } }

/* Large devices (large desktops, 1200px and up) */
.btn {
  border: 2px solid #666;
  font-weight: 500;
  border-radius: 0;
  width: 7.5vh;
  height: 7.5vh;
  max-height: 7.5vw;
  max-width: 7.5vw;
  white-space: pre-wrap;
  position: relative; }
  .btn.-sm {
    width: 5vh;
    height: 5vh;
    max-height: 5vw;
    max-width: 5vw; }
  .btn.-md {
    width: 12.5vh;
    height: 12.5vh;
    max-height: 12.5vw;
    max-width: 12.5vw; }
  .btn.-lg {
    width: 17.5vh;
    height: 17.5vh;
    max-height: 17.5vw;
    max-width: 17.5vw; }
  .btn.-dead-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

span.glyphicon {
  font-size: 1.8em;
  color: #666; }

design-board {
  margin-top: 2rem;
  display: block;
  text-align: center; }

.design-board {
  display: inline-block;
  height: 280px;
  width: 280px;
  box-sizing: content-box; }

.square {
  height: 56px;
  width: 56px;
  background-color: #29e;
  color: #fff;
  float: left; }

.design-board-piece {
  height: 56px;
  width: 56px;
  float: left;
  border: dashed 4px transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.design-board-squares {
  margin-top: 5rem;
  height: 280px;
  width: 280px;
  display: inline-block; }

.square-set-piece {
  width: 56px;
  height: 56px;
  float: left; }

.drop-active {
  border-color: #aaa; }

.drop-target {
  background-color: #666;
  border-color: #fff; }

.drag-drop {
  display: inline-block;
  color: #fff;
  background-color: #666;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4; }

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .design-board {
    height: 500px;
    width: 500px; }
  .square {
    height: 100px;
    width: 100px; }
  .design-board-piece {
    height: 100px;
    width: 100px; }
  .design-board-squares {
    height: 500px;
    width: 500px; }
  .square-set-piece {
    width: 100px;
    height: 100px; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.creation-container {
  height: 280px;
  margin-bottom: 2rem;
  position: relative;
  text-align: center; }

.creation {
  height: 280px;
  width: 280px;
  border: 2px solid #666;
  display: inline-block;
  box-sizing: content-box; }

.creation-piece {
  width: 56px;
  height: 56px;
  float: left; }

.creation-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .creation-info button {
    float: left; }

.creation-review {
  background-color: white;
  text-align: center; }

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .creation-container {
    height: 500px; }
  .creation {
    height: 500px;
    width: 500px; }
  .creation-piece {
    width: 100px;
    height: 100px; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
