<navigation user="model.user"></navigation>

<h1>SQUARES</h1>
<small>The playground for digital artists</small>

<h2>We believe in the power of your individuality</h2>
<h2>We want designers and customers to work together building that individuality</h2>


<div>
    <p>Customize real designers work to fit your individuality</p>
    <button>Start browsing square sets</button>
    <button>Try out the design board</button>
</div>

<div>
    <p>Make users identify themselves, through buying your designs</p>
    <button>Upload your designs and start sharing your work</button>
</div>