<div ng-if="!model.disclaimerAccepted" class="well">
    <p>
        This website is a prototype developed as a student project on Business Academy Aarhus, BAAA. The business concept is developed
        by Esben Kjær Ravn, CEO and Founder of <a href="http://www.kongorange.com/">Kong Orange</a>.
    </p>

    <p>
        No part of this work may be reproduced in whole or in part in any manner without the permission of <a href="http://www.kongorange.com/">Kong Orange</a>.
    </p>
    <p>
        No part of the materials available through this site may be copied, photocopied, reproduced, translated or reduced to any
        electronic medium or machine-readable form, in whole or in part, without prior written consent of <a href="http://www.kongorange.com/">Kong Orange</a>.
        Any other reproduction in any form without the permission of <a href="http://www.kongorange.com/">Kong Orange</a>        is prohibited.
    </p>
    <p>
        All rights reserved.
    </p>
    <a class="btn btn-default" ng-click="model.disclaimerAccepted = true">Accept</a>
</div>

<h1>SQUARES</h1>

<h2>We believe in the power of your individuality</h2>
<h2>We want digital designers and people with a desire to express their individuality to work together building that individuality</h2>


<div>
    <h3>Do you want to express your individuality?</h3>
    <p>Customize real designers work to fit your own individuality</p>
    <a ng-link="['Square Sets']" class="btn btn-default">
        <span>Start browsing square sets</span>
    </a>
    <a ng-link="['Create']" class="btn btn-default">
        <span>Try out the Create Board</span>
    </a>
</div>

<div>
    <h3>Are you a digital designer?</h3>
    <p>Make users identify themselves, through buying your designs</p>
    <a ng-if="!model.user" ng-link="['Sign Up']" class="btn btn-default">
        <span>Become part of the SQUARES community</span>
    </a>

    <a ng-if="!model.user" ng-link="['Log In']" class="btn btn-default">
        <span>Log in and make your work come to life</span>
    </a>

    <a ng-if="model.user" ng-link="['Profile']" class="btn btn-default">
        <span>Upload your own square sets</span>
    </a>
    <a ng-if="model.user" ng-link="['Profile']" class="btn btn-default">
        <span>Make your work come to life</span>
    </a>
</div>