<div ng-if="!model.disclaimerAccepted" class="well well-lg clearfix">
    <p>
        This website is a prototype developed as a student project on Business Academy Aarhus, BAAA. The business concept is developed
        by Esben Kjær Ravn, CEO and Founder of <a href="http://www.kongorange.com/">Kong Orange</a>.
    </p>

    <p>
        No part of this work may be reproduced in whole or in part in any manner without the permission of <a href="http://www.kongorange.com/">Kong Orange</a>.
    </p>
    <p>
        No part of the materials available through this site may be copied, photocopied, reproduced, translated or reduced to any
        electronic medium or machine-readable form, in whole or in part, without prior written consent of <a href="http://www.kongorange.com/">Kong Orange</a>.
        Any other reproduction in any form without the permission of <a href="http://www.kongorange.com/">Kong Orange</a>        is prohibited.
    </p>
    <p>
        All rights reserved.
    </p>
    <button class="btn btn-default pull-right -md" ng-click="model.disclaimerAccepted = true">Accept</button>
</div>

<h1>Welcome to <span class="-squared">SQUARES</span></h1>

<div class="row">
    <div class="col-xs-12">
        <h2>We believe in the power of your individuality</h2>
        <p>We enable people with a desire to express their individuality to work together with digital designers to build that
            individuality.
        </p>

        <div class="row">
            <div class="col-xs-12">
                <h3>Want to express your individuality?</h3>
            </div>
            <div class="col-xs-12">
                <p>Customize real designers work to fit your own individuality</p>
            </div>
            <div class="col-xs-12">
                <button ng-link="['Arts']" class="btn btn-default -lg pull-right">Get inspired by others</button>
                <button ng-link="['Create']" class="btn btn-default -lg pull-right">Create your own artworks</button>
                <button ng-link="['Square Sets']" class="btn btn-default -lg pull-right">Browse square sets</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Are you a digital designer?</h3>
            </div>
            <div class="col-xs-12">
                <p>Make users identify themselves through your designs and make a profit from your work</p>
            </div>
            <div class="col-xs-12">
                <button ng-if="model.user" ng-link="['Profile']" class="btn btn-default -lg pull-right">Upload your square sets</button>
                <button ng-if="!model.user" ng-link="['Log In']" class="btn btn-default -lg pull-right">Upload your square sets</button>
                <button ng-if="!model.user" ng-link="['Sign Up']" class="btn btn-default -lg pull-right">Be part of the SQUARES community</button>
            </div>
        </div>
    </div>
</div>