<img ng-repeat="imageSource in model.squareSet.imageSources track by $index" ng-src="{{model.squareSet.imageSources[$index]}}"
    alt="A square in the set called {{model.squareSet.title}}" class="creation-piece">

<div class="creation-info" ng-if="showInfo">
    <div class="creation-review">
        <span ng-if="!model.squareSet.reviews.length">Not reviewed yet...</span>
        <rating ng-if="model.squareSet.reviews.length" rating="model.squareSet.averageRating" max="5"></rating>
    </div>
    <button ng-link="['SquareSetDetails', {id: model.squareSet.id}]" class="btn btn-default -sm"><span class="glyphicon glyphicon-zoom-in"></span></button>
    <button ng-link="['Create', {id: model.squareSet.id}]" class="btn btn-default -sm"><span class="glyphicon glyphicon-picture"></span></button>
</div>