<h1>{{model.squareSet.title}}</h1>
<img ng-repeat="imageSource in model.squareSet.imageSources track by $index" ng-src="{{model.squareSet.imageSources[$index]}}" alt="A square in the set called {{model.squareSet.title}}">
<div ng-repeat="rating in model.squareSet.ratings">
    <span>{{rating.user.name}}:</span>
    <rating value="rating.value" max="5" set-rating="model.setRating(rating, value)"></rating>
</div>

<a ng-link="['SquareSetDetails', {id: model.squareSet.id}, 'Overview']" class="btn btn-default">
    <span class="glyphicon glyphicon-zoom-in"></span>
</a>