<div class="row">
    <div class="col-xs-12 text-center">
        <h2>{{model.squareSet.title}}</h2>
    </div>
    <div class="col-xs-12 text-center">
        <div class="square-set">
            <img ng-repeat="imageSource in model.squareSet.imageSources track by $index" ng-src="{{model.squareSet.imageSources[$index]}}"
                alt="A square in the set called {{model.squareSet.title}}" class="square-set-piece" />
        </div>
        <p>Created by {{model.squareSet.user.username}}</p>
    </div>
    <div class="col-xs-12 text-center">
        <button ng-click="model.goToSquareSets()" class="btn btn-default -sm"><span class="glyphicon glyphicon-arrow-left"></span></button>
        <button ng-link="['Create', {id: model.squareSet.id}]" class="btn btn-default -sm"><span class="glyphicon glyphicon-picture"></span></button>
    </div>
    <div class="col-xs-12 text-center">
        <add-review ng-if="model.user && !model.hasUserReviewed() && !model.isMadeByUser()" min="0" max="5" on-review-added="model.addReview(review)"></add-review>

        <div ng-repeat="review in model.squareSet.reviews">
            <review review="review" max="5"></review>
        </div>
    </div>

    <ul>
        <li><a ng-link="['Overview']">Overview</a></li>
        <li><a ng-link="['Reviews']">Reviews</a></li>
    </ul>

    <ng-outlet></ng-outlet>
</div>