.btn {
    background-color: $button-background-color;
    color: $text-color;
    border: $square-border-size solid $border-color;
    font-weight: 500;
    border-radius: 0;
    width: 58px;
    height: 58px;       
    white-space: pre-wrap;
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 2rem;

    &.-sm {
        width: 58px;
        height: 58px;
    }

    &.-md {
        width: 78px;
        height: 78px;
    }
    
    &.-lg {
        width: 95px;
        height: 95px;
    }
    
    &.-dead-center {
        @include dead-center();
    }
    
    & span {
        @include dead-center();
    }    
    
    &:hover {
        background-color: $button-background-color-hover;
        color: $text-color-hover;        
    }
    
    &:active,
    &:focus {
        background-color: $button-background-color;
        color: $text-color;        
    }
}

.no-outline-focus {
    &:focus {
        outline: none;
        outline-offset: 0; 
    }
}

span.glyphicon {
    font-size: 1.8em;
    color: $text-color;
     
    &.glyphicon-star,
    &.glyphicon-star-empty {
        font-size: 2.8em;        
        color: $button-background-color;        
    }
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: $screen-sm-min) { 
    .btn {
        width: 80px;
        height: 80px;    
        font-size: 1.8rem;           

        &.-sm {
            width: 55px;
            height: 55px;
        }

        &.-md {
            width: 130px;
            height: 130px;
        }
        
        &.-lg {
            width: 180px;
            height: 180px;
        }
    }  
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: $screen-md-min) {

}
/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: $screen-lg-min) {
      
}