.btn {
    border: $square-border-size solid $base-color;
    font-weight: 500;
    border-radius: 0;
    width: 7.5vh;
    height: 7.5vh;
    max-height: 7.5vw;
    max-width: 7.5vw;        
    white-space: pre-wrap;
    position: relative;

    &.-sm {
        width: 5vh;
        height: 5vh;
        max-height: 5vw;
        max-width: 5vw;           
    }

    &.-md {
        width: 12.5vh;
        height: 12.5vh;
        max-height: 12.5vw;
        max-width: 12.5vw;
    }
    
    &.-lg {
        width: 17.5vh;
        height: 17.5vh;
        max-height: 17.5vw;
        max-width: 17.5vw;
    }
    
    &.-dead-center {
        @include dead-center();
    }
    
    & span {
        @include dead-center();
    }
}

span.glyphicon {
    font-size: 1.8em;
    color: $base-color;
    
    &.glyphicon-star,&.glyphicon-star-empty  {
        font-size: 2.8em;        
    }
}