.design-board-container {
  position: relative;  
}

.design-board-helpers {
  @include dead-center();
}

design-board {
  margin-top: 2rem;
  display: block;    
  text-align: center;
}

.design-board {
  display: inline-block;
  height: $canvas-size-sm;
  width: $canvas-size-sm;
  box-sizing: content-box;
}

.square {
  height: $piece-size-sm;
  width: $piece-size-sm;
  background-color: #29e;
  color: #fff;
  float: left;
}

.design-board-piece {
  height: $piece-size-sm;
  width: $piece-size-sm;
  float: left;
  border: dashed 4px transparent;
  transition: background-color 0.3s;
}

.design-board-squares {
  margin-top: 5rem;
  height: $canvas-size-sm;
  width: $canvas-size-sm;
  display: inline-block;
}

.square-set-piece {
    width: $piece-size-sm;
    height: $piece-size-sm;
    float: left;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: $base-color;
  border-color: #fff;
}

.drag-drop {
  display: inline-block;
  color: #fff;
  background-color: $base-color;
  transform: translate(0px, 0px);
  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: $screen-sm-min) { 
  .design-board {
    height: $canvas-size;
    width: $canvas-size;
  }

  .square {
    height: $piece-size;
    width: $piece-size;
  }

  .design-board-piece {
    height: $piece-size;
    width: $piece-size;
  }

  .design-board-squares {
    height: $canvas-size;
    width: $canvas-size;
  }
  
  .square-set-piece {
      width: $piece-size;
      height: $piece-size;
  }  
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: $screen-md-min) {
  
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: $screen-lg-min) {
    
}