.navbar {
    height: $navigation-height;
    box-shadow: 0 0 15px -5px #aaa;
}

.navbar-header {
    height: $navigation-height;
}

.navbar-brand {
    line-height: $navigation-height;
    padding: 0 15px;
    font-size: 2.2rem;
}

.navbar-nav > li > a {
    padding: 0 15px;
    line-height: $navigation-height;
    font-size: 1.3rem;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: $screen-sm-min) { 
    .navbar-nav > li > a {
        padding: 0 20px;
        line-height: $navigation-height;
    }       
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: $screen-md-min) {
    .navbar-nav > li > a {
        font-size: 1.6rem;
    }
    
    .navbar-brand {
        font-size: 2.5rem;
    }    
}
/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: $screen-lg-min) {
    .navbar-nav > li > a {
        font-size: 1.8rem;
    }
    
    .navbar-brand {
        font-size: 3.5rem;
    }       
}