/* font-size 1em = 10px on default browser settings */
body {
    font: 62.5% 'Open Sans', Helvetica, Arial, sans-serif;
    color: $color-primary-4;
}

h1 {
    margin: 5rem 0;
    text-align: center;
    font-size: 2.4rem;
    
    & .-squared {
        border: $square-border-size solid $base-color;
        display: inline-block;
        width: 150px;
        height: 150px;
        line-height: 150px;
        text-align: center;        
    }
}

h2 {
    font-size: 2rem;
    margin: 2.4rem 0 0.8rem;    
}

h3 {
    font-size: 1.6rem;
    margin: 2.4rem 0 0.8rem;    
}

a, label, p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: $screen-sm-min) { 
    h1 {
        margin: 10rem 0;        
        font-size: 3.7rem;
        
        & .-squared {
            width: 180px;
            height: 180px;
            line-height: 180px;
        }        
    }
    
    h2 {
        font-size: 3.2rem;
    }    
    
    h3 {
        font-size: 2.8rem;
    }      
    
    a, .btn, label, p {
        font-size: 1.8rem;  
    }
    
    .btn, label, p {
        line-height: 3rem;  
        margin-bottom: 0.6rem;        
    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: $screen-md-min) {    
    h1 {
        font-size: 5rem;
        
        & .-squared {
            width: 250px;
            height: 250px;
            line-height: 250px;
        }         
    }
    
    h2 {
        font-size: 4rem;
    }    
    
    h3 {
        font-size: 3rem;
    }       
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: $screen-lg-min) {
    
}