<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2>Canvas</h2>
        <div class="design-board" id="design-board">
            <design-board-piece ng-repeat="designBoardPiece in model.designBoardPieces track by $index"></design-board-piece>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <h2>Square set: {{model.squareSet.title}}</h2>
        <div class="design-board-squares" id="design-board-squares ">
            <div ng-repeat="piece in model.squareSet.pieces track by $index" class="square" data-id="{{$index}}" data-x="{{piece.position.x}}"
                data-y="{{piece.position.y}}" ng-style="{'transform': model.getTransform(piece), '-webkit-transform': model.getTransform(piece), '-ms-transform': model.getTransform(piece) }">
                <img ng-src="{{piece.imgSource}}" alt="Pierce number $index in the square set titled {{model.squareSet.title}}" class="square-set-piece"
                />
            </div>
        </div>
    </div>
</div>