<div class="design-board" id="design-board">
    <design-board-piece ng-repeat="designBoardPiece in model.designBoardPieces track by $index"></design-board-piece>
</div>
<div class="design-board-squares" id="design-board-squares">
    <div ng-repeat="piece in model.squareSet.pieces track by $index" class="square" data-id="{{$index}}" data-x="{{piece.position.x}}"
        data-y="{{piece.position.y}}" ng-style="{'transform': piece.transform, '-webkit-transform': piece.transform, '-ms-transform': piece.transform }">
        <img ng-src="{{piece.imgSource}}" alt="Pierce number $index in the square set titled {{model.squareSet.title}}"
        />
    </div>
</div>
<a ng-click="model.saveToProfile()" class="btn btn-default">
    <span class="glyphicon glyphicon-save"></span>
</a>

<div id="design-board-result">
</div>