<p>SQUARES is a digital suite, where you rearrange the work of real print designers to fit your individuality</p>
<p> On SQUARES artists create new artworks from small digital pieces that visitors can play around with and put together via
    <a ng-link="['Create']">a digital interface</a>. SQUARES is an open art playground where you can purchase printed versions
    of the artists' works reworked into your particular personal design. SQUARES is a global, user-driven and interactive
    gallery where people from around the globe can dive into the artworks and create works that fit their expression and
    experience.
</p>
<p>At the same time SQUARES is a fascinating and imaginative business concept that attracts artists, both because of the initial
    challenge to their creativity and because they can sell and profit from their work. </p>