<p>
    Squares is a digital gallery for new art, where gallery visitors can create and share set pieces and complete art works.
</p>
<p>
    On Squares artists create new artworks from small digital pieces that visitors can play around with and put together via
    <a ng-link="['Create']">a digital interface</a>. Squares is an open art playground where you can purchase printed versions
    of the artists' works reworked into your particular personal design. Squares is a global, user-driven and interactive
    gallery where people from around the globe can dive into the artworks and create works that fit their expression and
    experience.
</p>
<p>
    At the same time Squares is a fascinating and imaginative business concept that attracts artists, both because of the initial
    challenge to their creativity and because they can sell and profit from their work.
</p>