<div class="col-md-12">
    <p>
        SQUARES is a digital playground for everyone, where users rearrange the work of digital designers to fit their own individuality.
    </p>
    <p>
        On SQUARES users create their own custom artworks from square set that visitors can play around with and put together via
        <a ng-link="['Create']">a digital interface</a>. SQUARES is an open art playground where you can purchase
        printed versions of the artists' works reworked into your particular personal design. SQUARES is a global, user-driven
        and interactive gallery where people from around the globe can dive into the artworks and create works that fit their
        expression and experience.
    </p>
    <p>
        At the same time SQUARES is a fascinating and imaginative business concept that attracts artists, both because of the initial
        challenge to their creativity and because they can sell and profit from their work.
    </p>
    <p>
        The idea behind SQUARES is developed by Esben Kjær Ravn, CEO and Founder of <a href="http://www.kongorange.com/">Kong Orange</a>.
    </p>
</div>