<form ng-submit="model.login()">
    <div ng-show="model.error" class="alert alert-danger">{{model.errorMessage}}</div>
    <label for="username">Username</label>
    <input ng-model="model.username" type="text" id="username" required/>
    <label for="password">Password</label>
    <input ng-model="model.password" type="password" id="password" required/>
    <input type="submit" value="Log in" class="btn btn-default"/>
    <a ng-link="['Sign Up']" class="btn btn-default">Sign Up</a>
    <a href="" class="btn btn-default">Forgot your password?</a>
</form>