$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$square-border-size: 2px;
$base-color: #666;

$canvas-size-sm: 280px;
$piece-size-sm: 56px;

$canvas-size: 500px;
$piece-size: 100px;

$navigation-height: 80px;