$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$square-border-size: 2px;

$canvas-size-sm: 280px;
$piece-size-sm: 56px;

$canvas-size: 400px;
$piece-size: 80px;

$navigation-height: 80px;

$base-color: #666;

$color-primary-0: #DCD7FC;
$color-primary-1: #9789E8;
$color-primary-2: #6754CE;	// Main Primary color */
$color-primary-3: #3F2BAE;
$color-primary-4: #21146A;


$navigation-background-color: $color-primary-2;
$navigation-background-color-active: $color-primary-3;
$button-background-color: $color-primary-2;
$button-background-color-hover: $color-primary-3;
$text-color: $color-primary-0;
$text-color-hover: #fff;