<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <design-board square-set="model.squareSet" id="canvas"></design-board>
        </div>
    </div>

    <a ng-if="!model.squareSet" ng-click="model.goToSquareSets()" class="btn btn-default">
        <span class="glyphicon glyphicon-zoom-in"></span> <span>Browse square sets</span>
    </a>
    <a ng-if="!model.squareSet" ng-click="model.goToCreateWithRandomId()" class="btn btn-default">
        <span class="glyphicon glyphicon-th"></span> <span>Pick random square set</span>
    </a>
    <div ng-if="model.squareSet && model.user">
        <label for="title">Title</label>
        <input ng-model="model.title" type="text" id="title" required/>

        <a ng-click="model.saveToProfile()" class="btn btn-default">
            <span class="glyphicon glyphicon-save"></span>
        </a>
    </div>
    <div ng-if="!model.user">
        <h2>Would you like to save your work?</h2>
        <a ng-if="!model.user" ng-link="['Log In']" class="btn btn-default">
            Log In
        </a>
    </div>


    <div ng-if="model.squareSet">
        <h2>Need some inspiration?</h2>
        <div>
            <!-- TODO -->
            <a class="btn btn-default">
                See what others have created using this square set.
            </a>
        </div>
    </div>

</div>