<p>User is logged in: {{model.user.username}}</p>

<div ng-show="model.errorMessage" class="alert alert-danger">{{model.errorMessage}}</div>
<form flow-init flow-files-submitted="$flow.upload()" flow-name="model.flow" ng-submit="model.saveSquareSet()">
    <label for="title">Square Set Title</label>
    <input ng-model="model.title" type="text" id="title" required/>
    <span class="btn btn-default" flow-btn>
        Upload Images
        <input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"/>
    </span>
    <span class="btn btn-default" flow-btn flow-directory ng-show="$flow.supportDirectory">
        Upload Folder of Images
        <input type="file" multiple="multiple" webkitdirectory="webkitdirectory" style="visibility: hidden; position: absolute;"/>
    </span>
    <div ng-repeat="file in $flow.files" class="gallery-box ng-scope">
        <span class="title ng-binding">1.png</span>
        <div class="thumbnail" ng-show="$flow.files.length">
            <img flow-img="file">
        </div>
        <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
            <div class="progress-bar" role="progressbar" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
            </div>
        </div>
        <div class="btn-group">
            <a class="btn btn-xs btn-danger" ng-click="file.cancel()">Remove</a>
        </div>
    </div>
    <input type="submit" value="Add Square Set to Profile" class="btn btn-primary" />
</form>

<div ng-if="model.squareSets.length">
    <h1>Your square sets</h1>
    <square-set ng-repeat="squareSet in model.squareSets" square-set="squareSet" can-see-details="true" can-create="true"></square-set>
</div>

<div ng-if="model.arts.length">
    <h1>Your art works</h1>
    <art-piece ng-repeat="art in model.arts" art="art" can-see-details="true" can-create="true"></art-piece>
</div>