<div class="row">
    <div class="col-xs-12 text-center">
        <h2>Welcome {{model.user.username}}!</h2>
    </div>
    <form flow-init flow-files-submitted="$flow.upload()" flow-name="model.flow" ng-submit="model.saveSquareSet()">
        <div class="col-xs-12">
            <h2>Upload your own square sets</h2>
            <p>See your work come to life by uploading a full square set</p>
            <button class="btn btn-default -md pull-right no-outline-focus" flow-btn flow-directory ng-show="$flow.supportDirectory">Upload Folder of Images<input type="file" multiple="multiple" webkitdirectory="webkitdirectory" class="hide"/></button>
            <button class="btn btn-default -md pull-right no-outline-focus" flow-btn>Upload Images<input type="file" multiple="multiple" class="hide"/></button>
        </div>
        <div ng-repeat="file in $flow.files" class="gallery-box ng-scope col-xs-6 col-md-3">
            <span class="title ng-binding">1.png</span>
            <div class="thumbnail" ng-show="$flow.files.length">
                <img flow-img="file">
            </div>
            <div class="progress" ng-class="{active: file.isUploading()}">
                <div class="progress-bar" role="progressbar" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
                </div>
            </div>
            <button class="btn btn-default -md btn-danger pull-right" ng-click="file.cancel()">Remove</button>
        </div>
        <div ng-show="$flow.files.length">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="title">Square Set Title</label>
                    <input ng-model="model.title" class="form-control" type="text" id="title" required/>
                </div>
                <input type="submit" value="Add Square Set to Profile" class="btn btn-primary -md pull-right" />
                <div ng-show="model.errorMessage" class="alert alert-danger">
                    <p>{{model.errorMessage}}</p>
                </div>
            </div>
        </div>
    </form>
</div>
<div ng-if="model.squareSets.length">
    <div class="row">
        <div class="col-xs-12">
            <h2>Your square sets</h2>
        </div>
        <div ng-repeat="squareSet in model.squareSets" class="creation-container col-md-12 col-lg-6">
            <square-set class="creation" square-set="squareSet" show-info="true"></square-set>
        </div>
    </div>
</div>

<div ng-if="model.arts.length">
    <div class="row">
        <div class="col-xs-12">
            <h2>Your art works</h2>
        </div>
        <div ng-repeat="art in model.arts" class="creation-container col-md-12 col-lg-6">
            <art-piece class="creation" art="art" show-info="true"></art-piece>
        </div>
    </div>
</div>